<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Necessário para buscar o vídeo da música no YouTube -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.VideoSpeedPitch"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CatalogActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:configChanges="keyboardHidden" />

        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>

</manifest>
